<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<!--	<nav>
		<div class="nav-wrapper">
			<a class="brand-logo center">Inventory</a>
		</div>
	</nav> -->

	<% if (data) { %>
        <% data.forEach(function(items){ %>
            <tr>
                <td><%= items.id %></td>
                <td><%= items.name %></td>
                <td><%= items.quantity %></td>
                <td><%= items.amount %></td>

            </tr>
        <% }) %>
        <% } %>

<script>
</script>

</body>
</html>
